.slider {
  padding-top: 1.87rem;

  width: 85%;
  height: fit-content;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiperSlide {
  margin-left: 0;

  width: 17.43rem;
  height: 11.18rem;

  position: relative;
  z-index: 0;
}
